.navbar {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.menu-items {
  display: flex;
  align-items: center;
}

.logout {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-right: 0;
  background-color: #FF6363;
  color: #FAF5E4;
  padding: 8px 24px;
  border: 0;
  border-radius: 25px;
  transition: 0.5s;
  cursor: pointer;
}

/* Responsive */
@media only screen and (max-width: 480px) {
  .navbar {
    width: 90%;
    flex-direction: column;
  }
  .menu-items {
    flex-direction: column;
    width: 100%;
    background-color: #A1E3D8;
    border-radius: 5px;
    margin-top: 12px;
  }
  .menu-items a {
    margin-right: 0 !important;
    margin: 8px 0;
  }
}